<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("currency_exchange_settings.title") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("base_currency") %>:</th>
    <td><%= Spree::Currency::Config[:base_currency] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon('edit', t("edit"), edit_admin_currency_settings_path) %>
</p>